/**
 * Custom style for ICGeer theme.
 */
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
  font-family: 'Roboto Condensed', roboto;
  font-style: normal;
  font-weight: 700;
}

p,
div {
  font-family: 'Roboto', arial;
  font-style: normal;
  font-weight: 300;
}

body {
  font-size: 16px;
  /*background-color: #cbcbcb;*/
}

@media all and (min-width: 1800px) {
  body {
    background-image: url("../img/icbackground1.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
}

@media all and (max-width: 1199px) {
  .navbar-text {
    display: none;
  }
  
  .navbar .navbar-brand {
    margin-left: 85px;
  }
  
  .navbar .logo img {
    height: 50px;
  }
}

header.navbar {
  padding-left: 0;
}

.navbar .logo {
  position: absolute;
  bottom: -9px;
  left: 0;
  padding-left: 0;
}

.navbar-brand {
  margin-left: 85px;
}

ul.navbar-nav > li > a {
  padding-bottom: 18px;
}

.feed-icon {
  display: none;
}

footer.footer {
  background-color: #f8f8f8;
}

.menu--footer li {
  display: inline-block;
}

.menu--footer li a {
  color: #333333;
}

.form-required:after {
  margin-left: 5px;
}

.candidate-form-button {
  background-color: #4CAF50; /* Green */
  border: none;
  border-radius: 10px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.candidate-form-button:hover {
  background-color: #3e8e41;
  color: #ffffff;
}

.candidate-form-button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.field--type-email {
  clear: both;
}

.node--type-candidate .field--items {
  margin-bottom: 10px;
}

.user-login-form {
  padding-top: 15px;
}

#block-views-block-candidats-pictures-slider-block-candidates-slider,
#block-views-block-candidats-pictures-slider-block-candidates-slider h2 {
  margin-top: 0;
}

#block-views-block-our-projects-block-our-projects {
  margin-top: 20px;
}

#block-views-block-candidats-pictures-slider-block-candidates-slider a {
  color: #ffffff;
}

#block-views-block-candidats-pictures-slider-block-candidates-slider .candidate-position {
  margin-top: -5px;
}

.page-node-type-candidate .field--type-email {
  clear: both;
  padding-top: 20px;
}

.view-candidates-list .field--type-email,
.view-taxonomy-term .field--type-email {
  clear: both;
  padding-top: 10px;
}

.view-candidates-list .field,
.view-candidates-list .links,
.view-taxonomy-term .field,
.view-taxonomy-term .links {
  margin-top: 10px;
}

.page-node-type-candidate .field,
.page-node-type-candidate .links {
  margin-top: 20px;
}

.node--type-candidate.node--view-mode-teaser .field--name-dynamic-token-fieldnode-know-more-button {
  margin-bottom: 10px;
}

.node--type-project .field--name-body {
  margin-bottom: 20px;
}
/*
.view-candidates-list .views-row,
.view-taxonomy-term .views-row,
.view-icgeer-news-list .views-row {
  margin: 50px 0;
}*/

.view-candidates-list .views-row h2,
.view-taxonomy-term .views-row h2,
.view-icgeer-news-list .views-row h2 {
  margin-top: 0;
}

.view-candidates-list .views-row h2 a,
.view-taxonomy-term .views-row h2 a,
.view-icgeer-news-list .views-row h2 a {
  color: #000000;
}

#views-exposed-form-candidates-list-page-candidats-list .form-group .form-group,
#views-exposed-form-icgeer-news-list-page-articles .form-group .form-group,
#views-exposed-form-programme-page-program .form-group .form-group {
  padding: 10px;
  background-color: #f8f8f8;
  display: inline-block;
}

#views-exposed-form-candidates-list-page-candidats-list .form-group a,
#views-exposed-form-icgeer-news-list-page-articles .form-group a,
#views-exposed-form-programme-page-program .form-group a {
  color: #000000;
}

/*#views-exposed-form-candidates-list-page-candidats-list .form-group .bef-link-active,
#views-exposed-form-icgeer-news-list-page-articles .form-group .bef-link-active {
  background-color: #286090;
  width: 100px;
  height: 50px;
}*/

.node--type-candidate .node--view-mode-full div.field,
.page-node-type-program .node--view-mode-full div.field {
  padding: 10px 0;
}

button#edit-submit-candidates-list,
button#edit-submit-icgeer-news-list,
button#edit-submit-programme {
  display: none;
}

.node--type-article.node--view-mode-full .field--name-body,
.view-id-programme .field {
  margin: 20px 0;
}

.view-id-programme .addtoany_list,
.page-node-type-program .addtoany_list {
  display: block;
  width: 100%;
  clear: both;
  padding-top: 10px;
}

.field--name-field-tags .btn.field--label {
  padding-left: 0;
  cursor: none;
}

.node--type-article.node--view-mode-full .addtoany_list {
  padding-top: 15px;
}

.page-node-type-article .page-header {
  margin-bottom: 5px;
}

.page-node-type-article .addtoany_list {
  clear: both;
  display: block;
}

.field--name-dynamic-token-fieldnode-dates-articles {
  margin: 0 0 10px 0;
}

.field--name-dynamic-token-fieldnode-dates-articles .dates-articles {
  color: #aaaaaa;
}

.node--view-mode-teaser .field--name-node-title h2 {
  margin-top: 0;
  margin-bottom: 0;
}

.node--view-mode-teaser .field--name-node-title h2 a {
  color: #000000;
}

.node--view-mode-teaser .field--name-dynamic-token-fieldnode-links-button {
  margin: 10px 0;
}

.node--type-article.node--view-mode-full .field--name-field-tags {
  margin: 15px 0
}

.field--name-description {
  font-size: 20px;
  margin: 15px 0;
}

.node--type-article.node--view-mode-teaser,
.node--type-project.node--view-mode-teaser,
.node--type-program.node--view-mode-teaser,
.node--type-candidate.node--view-mode-teaser {
  border-style: solid;
  border-width: 0 0 1px;
  border-color: #efefef;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.flex-viewport li:hover .node--type-candidate {
  opacity: 0.3;
}

.flex-viewport li:hover .flex-caption {
  opacity: 1;
}

.flex-viewport .node--type-candidate {
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
}

.flex-viewport .flex-caption {
 transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.flex-viewport li {
  display: block;
  position: relative;
  color: #ffffff;
}

.flex-viewport .flex-caption {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.flex-viewport .flex-caption {
  background-color: #286090;
  border-radius: 5px;
  color: #ffffff;
  font-size: 22px;
  padding: 16px 32px;
}

.flex-viewport .flex-caption a {
  color: #ffffff;
}

.view-dashboard span {
  color: #ffffff;
  display: block;
  width: 100%;
  height: 100%;
  padding: 8px;
}

.view-dashboard span.draft {
  background-color: #007bff;
}

.view-dashboard span.published {
  background-color: #28a745;
}

.view-dashboard span.archived {
  background-color: #17a2b8;
}

.view-dashboard span.work {
  background-color: #ffc107;
}

.view-dashboard span.trash {
  background-color: #dc3545;
}

.view-dashboard .views-field-moderation-state {
  padding: 0;
}
